#acf-featured_product .categorychecklist-holder ul li:nth-of-type(1n) {display: none;}
#acf-featured_product .categorychecklist-holder ul li:nth-of-type(3) {display: block;}
#acf-featured_product .acf-taxonomy-field .acf-checkbox-list {padding: 0px;}
#acf-featured_product .categorychecklist-holder {border:none}
table.wp-list-table span.wc-hotbuy.not-featured::before {
    content: '\f529';
}
table.wp-list-table span.wc-hotbuy::before {
    content: '\f529';
}
table.wp-list-table span.wc-hotbuy::before, table.wp-list-table span.wc-image::before, table.wp-list-table span.wc-type::before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: '\f529';
}
table.wp-list-table span.wc-hotbuy.not-hotbuy::before {
	color:#999;
}
table.wp-list-table td.column-HotBuy span.wc-hotbuy {
    font-size: 1.6em;
    cursor: pointer;
	color:#900;
}
table.wp-list-table span.wc-hotbuy, table.wp-list-table span.wc-image, table.wp-list-table span.wc-type {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 auto;
}

.tips {
    cursor: help;
    text-decoration: none;
}

table.wp-list-table span.wc-displayweb.not-featured::before {
    content: '\f227';
}
table.wp-list-table span.wc-displayweb::before {
    content: '\f227';
}
table.wp-list-table span.wc-displayweb::before, table.wp-list-table span.wc-image::before, table.wp-list-table span.wc-type::before {
    font-family: Dashicons;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: '\f227';
}
table.wp-list-table span.wc-displayweb.yes-displayweb::before {
    color:#3CB371;
}
table.wp-list-table td.column-displayWeb span.wc-displayweb {
    font-size: 1.6em;
    cursor: pointer;
    color:#900;
}
table.wp-list-table span.wc-displayweb, table.wp-list-table span.wc-image, table.wp-list-table span.wc-type {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 auto;
}
.acf_postbox p.productDisplay{
	color: #333333;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    vertical-align: text-bottom;
}
.post-type-product .inline-edit-row fieldset label.inline-edit-tags{
 display:none !important;
}
.post-type-product .inline-edit-row fieldset .inline-edit-group{
 display:none !important;
}
.row-title {
    font-size: 12px !important;
}
.postbox .inside, .stuffbox .inside{
    font-size: 11px !important;
}
.wpseo-make-primary-term{
 display:none !important;
}
.term-description-wrap {
 display: none;
}
.wpseo-is-primary-term, .wpseo-make-primary-term{
display:none;
}
table.wp-list-table .column-product_cat, table.wp-list-table .column-product_tag{
font-size:12px;
}
.postbox-container .acf_postbox .field select#acf-field-by_appointment_sel{
    width: 10%;
}
#woocommerce-product-data{ display: none !important;  }
    table.wp-list-table .column-HotBuy {
    width: 60px;
    text-align: center !important;
}
.select2-container, .wc-category-search, .post-type-product .tablenav #dropdown_product_type, #wpseo-filter, #wpseo-readability-filter { display:none !important;}
#posts-filter .actions .select2 {display:none !important;}
table.wp-list-table td.column-HotBuy span.wc-featured {
    font-size: 1.6em;
}