/*
Theme Name:			D4skivvy
Author:				D4
Author URI:			http://www.d4webdesign.com/
Theme URI:			https://github.com/d4advancedmedia/D4skivvy
GitHub Theme URI:	https://github.com/d4advancedmedia/D4skivvy
GitHub Branch:    	master
Version:			12Aug15
License:			The GNU General Public License (GPL-2.0)
*/
/* ---- CONTENT ---- */
* {background:none no-repeat scroll center center transparent;}
html {
  background-color: #d4ccc3;
  color: #2D2929;
  font: 14px/1.75em "Open Sans",sans-serif;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {font-weight: 800;}
ul, ol {padding: 0 0 0 40px;}
blockquote { border-left:1px solid #696969; padding-left:10px;margin: 1em 40px; }
button,input,select,textarea {padding:5px;margin:5px 0;}
a, a:link, a:visited {color:#1A78B2;}
a:hover, a:focus, a:active {color:#36A6BF;}
button, a.button, .button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #2d2929;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 8px 15px;
}
iframe {
  max-width: 100%;
}
.rmore{color:#c43818 !important;}
.button:empty {opacity:0.1;cursor:default;  }
.page-wrapper {width:calc(100% - 20px);max-width:1280px;margin:0 auto;padding:20px;position:relative;}
#content, #footer {
  position: relative;
  right: 0;
  transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  margin-left: 410px;
  margin-right: 10px;
}
.mobile-expand #content, .mobile-expand #footer {
  right: 260px;
}
.page-title {text-align:center; margin-bottom:5px; margin-top:5px;}
.page-content {}
.post-content {margin-top:10px;padding-top:10px;border-top:1px solid #bbb;}
.post-content.first {margin:0;padding:0;border:0;}
.post-title {}
.post-snippet {}
.post-navigation {}
.page-meta, .post-meta {font-size:0.75em;color:#555;}
.post-next, .post-prev {
  border-radius: 0;
  font-size: 25px;
  height: 44px;
  overflow: hidden;
  padding: 10px 12px;
  position: relative;
  text-align: center;
  width: 50px;
}
.post-next a, .post-prev a {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: -999px;
  top: 0;
}
.skivdiv-content {padding:10px;}
.fullwidth > .skivdiv-content {padding:0;}
.subpage #content .page-wrapper {
  max-width: none;
  padding: 0;
  width: 100%;
}
.page-template-template_fullwidth #content > .page-wrapper {max-width: none;width: 100%;padding:0;}
.page-template-template_fullwidth #content .page-title {max-width:880px;margin:0 auto;}
.page-template-template_fullwidth #content .fullwidth > .skivdiv-content {padding: 0 10%;}


/* ---- HEADER ---- */
#header {
  background: #e2dbd3 none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 400px;
  z-index: 999;
}
.mapplic-clear-button{
	display:none;
}
.mapplic-lightbox-description img{
	margin-bottom:4px;
}
.emailFooter{
	background-color: #ccc;
    width: 120px;
    padding: 10px;
    color: #000 !important;
}
.liquidateFooter{
	background: #c43818 none repeat scroll 0 0;
    color: #e2dbd3;
    display: inline-block;
    font-size: 19px;
    padding: 10px;
	width: 210px;
    font-weight: bold;
}
.footeraddr{
	text-decoration:underline;
}
#header .page-wrapper {
  max-width: none;
  padding: 0;
  width: 100%;
}
#logo {
  display: block;
  float: none;
  margin: 40px auto;
  padding: 0 20px;
  position: relative;
  text-align: center;
  z-index: 99;
}
.woocommerce div.product div.images{
	margin-bottom:2px;
}
.wpb_wrps_title{
	font-size:13px !important;
}
.wrps_related_products.wrps_theme_hover figcaption{
	height:auto !important;
}
.wrps_related_products .wpb_wrps_cart_btn a.button, .wrps_related_products .wpb_wrps_cart_btn a.added_to_cart{
	font-size:12px !important;
}
ul#product-meta-list li{
	float:left;
	margin-left:40px;
	font-size:17px;
	font-weight:bold;
}
.woocommerce ul.products li.product a img{
	margin-bottom:0.1em;
}
#single-features li{
	line-height:20px;
}
.slick-prev:before, .slick-next:before{
	margin-right:10px;
}
.slick-initialized .slick-slide{
	padding-right:8px;
}
.slick-current img{
	border: 5px inset rgba(0,0,0,0.65) !important;
}
.slick-prev{
	left:0;
}
.slick-next {
    right: 0;
}
.slick-prev, .slick-next, .slick-prev:hover, .slick-next:hover {
	z-index:900;
	height:50px;
	padding:15px;
	top:50%;
	margin-right:8px;
	width:50px;
	background-color:#fff !important;
	}

.cartoon{
	float:right; 
	margin-right:310px;
}
.icon-treasure{
	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart.png") no-repeat scroll center top;
	background-size: 120px 115px;
	padding-right: 120px !important;
	padding-bottom: 50px !important;
       background-position: 155px 0;
}
#main-menu {
  bottom: 0;
  height: 100%;
  min-height: 790px;
  padding-top: 140px;
  position: absolute;
  top: 0;
}
#main-menu li {
  display: block;
  list-style: outside none none;
  position: relative;
  width: 100%;
}
#main-menu li::before, #mobile-nav li:before {
  color: #c43818;
  font-size: 30px;
  left: 75px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 20px;
}
#main-menu li a:hover {
  color: #c43818;
}
#mobile-nav li::before {
  left: auto;
  right: 0;
  font-size: 22px;
  top: 10px;
  right: 10px;
}
#main-menu li a, #mobile-nav li a {
  color: #333;
  display: block;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 20px;
  font-weight:bold;
  padding: 4% 30px 2% 124px;
}
#mobile-nav li a {
  border: 0 none;
  color: #fff;
  font-size: 16px;
  padding: 13px 20px 13px 13px;
}
#main-menu li a:hover {}
#main-menu li.current_page_item > a {}
#main-menu .sub-menu {}
#main-menu .sub-menu li a {background-color: #eee;border-bottom: 1px solid #ddd;padding: 5px 20px;}
#main-menu .sub-menu li a:hover {background-color:#ddd;}
#main-menu li.menu-ctas a {
  color: #e2dbd3;
  font-size: 26px;
  font-weight: 900;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}
#main-menu li.menu-ctas a .sub {
  display: block;
  font-size: 22px;
  font-weight: 400;
  padding-top: 9px;
  text-transform: none;
}
#main-menu li.mcta-liquidator a {
  background: #413b3b none repeat scroll 0 0;
}
#main-menu li.mcta-have-questions a {
  background: #2d2929 none repeat scroll 0 0;
}
#main-menu li.mcta-have-questions {
  bottom: 0;
}
#main-menu li.mcta-liquidator {
  bottom: 118px;
}
#main-menu .menu-ctas {
  position: absolute;
}
#mobile-toggle {
  background: #c43818 none repeat scroll 0 0;
  border-radius: 0;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  float: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 99;
  outline: none !important;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
  -webkit-tap-highlight-color: transparent;  /* i.e. Nexus5/Chrome and Kindle Fire HD 7 */
}
#mobile-nav {
  background: #222 none repeat scroll 0 0;
  bottom: 0;
  margin: 0;
  position: fixed;
  right: -260px;
  top: 0;
  width: 260px;
  overflow-y: scroll;
  transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
}
.admin-bar #mobile-nav {
  padding-top: 140px;
}
.mobile-expand #mobile-nav {
  right: 0;
}
.modal-body p{
	font-weight:normal;
	margin-top:15px;
}
.modal-footer {
	border:none;
	}
img.alignleft{
	margin-top:10px;
	}
#mobile-nav a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}
.sub-menu-expanded {
  background: rgba(255, 255, 255, 0.05) none repeat scroll 0 0;
}
#mobile-nav .menu-item-has-children a {
  pointer-events: none;
}
#mobile-nav .menu-item-has-children.sub-menu-expanded a {
  pointer-events: auto;
}
#mobile-nav ul {
  padding: 0 10px;
}
#mobile-nav li {
  cursor: pointer;
  list-style: outside none none;
/*  position: relative;*/
}
#mobile-nav li i {
  color: #666;
  cursor: pointer;
  left: 0;
  padding: 16px 16px 15px;
  position: absolute;
  top: 0;
}
#mobile-nav li:last-child a {
  border: 0 none;
}
#mobile-overlay {
  bottom: 0;
  display: none;
  left: 100%;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
}
.mobile-expand #mobile-overlay {
  display: block;
  left: 0;
}
#header-contact {
  position: fixed;
  right: 10px;
  top: 0;
  z-index: 999;
}
#header-contact a {
  background: #c43818 none repeat scroll 0 0;
  color: #e2dbd3;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
	margin-right:5px;
  padding: 5px 27px;
}
#header-contact .socialbox a::before {
  content: "Call us: ";
  font-weight: normal;
}
#header-contact i {
  display: none;
}
/* ------- Mobile search --------- */
/*.search-toggle-box .search-content { display:none; }
.search-toggle-box { border:1px solid #999; width: 100%; }
.search-toggle { cursor:pointer; }
.search-header { margin:0; padding:5px; background:#ccc; }
.search-content { padding:5px }*/
/* ---- FOOTER ---- */
#footer {}
#footer-copyright {
  background: #2d2929 none repeat scroll 0 0;
  color: #fff;
  font-size: 10px;
  margin-top: 10px;
}
#footer-copyright a:link, #footer-copyright a:hover {color:inherit; text-decoration:none;}


/* ------------------- HOMEPAGE ------------------- */
.home #main-wrapper {
  max-width: none;
  padding: 0;
  width: 100%;
}
#main-slideshow {
  height: 597px;
}
#main-slideshow .cycle-slide {
  background-size: cover;
  bottom: 0;
  right: 0;
}
#main-slideshow .page-wrapper {
  bottom: 0;
  color: #fff;
  font-size: 30px;
  max-width: none;
  padding: 30px 20px;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}
.slidePrev{
    position: relative;
    z-index: 99;
    margin-top: 15%;
    float: left;
	background: rgba(0, 0, 0, 0) url("img/left.png") no-repeat scroll center top;
	width: 64px;
	height:64px;
	cursor:pointer;
}
.slideNext{
    position: relative;
    z-index: 99;
    margin-top: 15%;
    float: right;
	background: rgba(0, 0, 0, 0) url("img/right.png") no-repeat scroll center top;
	width: 64px;
	height:64px;
	cursor:pointer;
}
.priceh3{
    float: left;
    clear: both;
    margin-left: 22px;
}
#main-slideshow h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#main-slideshow .button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
  display: block;
  margin-top: 20px;
  padding: 0;
}
#main-slideshow .button-text {
  background: #2d2929 none repeat scroll 0 0;
  display: none !important;
  font-size: 24px;
  height: 45px;
  margin-right: 6px;
  padding: 9px 17px;
}
.button-subtext {
  background: #c43818 none repeat scroll 0 0;
  display: inline-block;
  font-size: 23px;
  height: 45px;
  padding: 7px 15px;
  position: relative;
}
.cycle-slideshow {z-index: 0;}
.cycle-slide {}
.cycle-slide-active {}
.cycle-pagerelement {cursor:pointer;}
.cycle-next {}
.cycle-pause {}
.cycle-prev {}
#per-slide-template {font-size:24px;}
#per-slide-template span { cursor:pointer; color:#000; }
#per-slide-template span.cycle-pager-active { color:#333 }
#buy-sell {
  margin-top: 10px;
  color: #fff;
}
#buy-sell .skivdiv-content {
  position: relative;
}
#buy-sell .one_half::before {
  background: #c43818 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 49.3%;
  width: calc(50% - 9px);

}
#buy-sell #home-sell::before {
  background: #0b1724 none repeat scroll 0 0;
  width: 50%;
}
#buy-sell .one_half .skivdiv-content {
  border-left: 3px solid;
  margin-left: 20px;
  padding: 10px 30px 0px 10px;
}
#buy-sell h1 {
  font-size: 40px;
  font-weight: 600;
  margin-left: 17px;
  text-transform: uppercase;
  margin-bottom:10px;
}
#buy-sell li {
  list-style: outside none none;
  position: relative;
}
#buy-sell ul {
  padding: 0 0 0 19px;
}
#buy-sell li::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 10px;
  left: -35px;
  position: absolute;
  top: 6px;
  width: 10px;
}
#buy-sell .button {
  display: block;
  margin-left: 19px;
  margin-top: 10px;
  text-align: center;
}
#warehouse-map h1 {
  color: #c43818;
  font-size: 40px;
  font-weight: 700;
/*  left: 50px;*/
  position: relative;
  text-transform: uppercase;
  margin-bottom:0;
}
#warehouse-map h3 {
  color: #c43818;
  font-size: 23px;
/*  left: 50px;*/
  max-width: 510px;
  margin-bottom:0;
  position: relative;
  text-transform: uppercase;
}
#warehouse-img {
  margin: -40px auto -100px;
}
.add_liq{
    clear: both;
	width:86% !important;
}
.add_floor{
    clear: both;
	width:14% !important;
}
#about .page-wrapper{
	padding-top:0px;
}
#about .page-wrapper .skivdiv-content{
	padding-top:0px;
	padding-bottom:0px;
}
#warehouse-map .page-wrapper{
	padding-top:0px;
	padding-bottom:0px;
}
#warehouse-map .page-wrapper .skivdiv-content{
	padding-bottom:0px;
}
#about h1, #about h3 {
  color: #333;
  left: 0;
  margin: 0;
  top: 0;
}
#about h3 {
  margin-bottom: 20px;
}
/*#about .page-wrapper {
  max-width: 960px;
}*/
#product-showcase {
  position: relative;
}
#product-showcase h1 {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 40px;
  left: 0;
  margin: 0;
  padding: 20px 50% 20px 20px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
}
#product-showcase p {
  margin: 0;
}
#product-showcase img {
  display: block;
  width: 100%;
}
#product-showcase .button {
  background: #c43818 none repeat scroll 0 0;
  bottom: 2%;
  font-size: 20px;
  position: absolute;
  right: 10%;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
}
#featured-products {
  background: #2d2929 none repeat scroll 0 0;
  color: #e2dbd3;
  margin-top: 10px !important;
  margin-bottom: 10px;
  padding: 20px 100px 20px;
  position: relative;
}
.NoImageText{
	height: 423px !important;
    float: left;
}
.limitedSpecials {
  background: #fff none repeat scroll 0 0 !important;
  color: #333;
  margin-top: 10px !important;
  padding: 20px 100px 20px;
  position: relative;
  border-bottom:#f1f1f1 solid 1px;
}
.limitedSpecials h1{
	color:#333;
}
.limitedSpecials .cycle-slide a h2{
	margin:-34px 20px 0px 20px !important;
	padding:20px !important;
	font-weight:bold !important;
	background-color:#c43818 !important;
}
.limitedSpecials .cycle-slide .PostText{
/*	  background:#d4cbc2;*/
  color: #333;
  display: block;
  font-size: 18px;
  font-weight: normal;
  height: 85px;
  left: 0;
  float:left;
  margin: 0;
  padding: 10px;
  right: 0;
  text-align: center;
  white-space: normal;
}
.limitedSpecials .cycle-slide{
	padding:20px;
	border:none !important;
	margin-top:70px !important;
}
#featured-products img {
  display: block;
  width: 100%;
  height:100%;
}
.woocommerce .woocommerce-ordering select{
	display:none;
}
.LimitedSpecials{
	height:550px;
	margin-top:25px;
}
#featured-products .cycle-slide {
  border: 10px solid #2d2929;
  position: relative !important;
  margin-top:40px;
}
#featured-products h3 {
  display: none;
}
.limitedSpecials > div > h1 {
    margin: 0 0 -15px 0 !Important;
}
#featured-products h4 {
  background: #c43818;
  color: #000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  left: 0;
  margin: 0;
  padding: 20px 0px;
  width:100%;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
  right: 0;
  text-align: center;
  top: 0;
  white-space: normal;
}
#featured-products .cycle-slide a h2 {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: normal;
  height: 54px;
  left: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  margin-top:-34px;
  text-align: center;
  top: 0;
  white-space: normal;
}
#featured-products .button {
  display: none;
}
#featured-products > div > h1 {
  margin: 0 0 7px;
  text-align: center;
}
#latest-news .getpost-wrapper:nth-of-type(2n) {
  margin-right: 0;
}
#latest-news .post-thumb {
  float: left;
  margin: 0 20px 0 0;
}
#latest-news .getpost-wrapper {
  background: #0b1724 none repeat scroll 0 0;
  margin: 10px 0 0;
  padding: 20px;
  text-align: center;
}
#latest-news .getpost-wrapper a {
  color: #2d2929;
}
#latest-news .post-thumb img {
  border: 10px solid #d4ccc3;
  display: block;
}
#latest-news .getpost-wrapper a.getpost-readmore {
  background: #d4ccc3 none repeat scroll 0 0;
  color: #fff;
  display: block;
  margin: 10px auto;
  text-align: center;
}
#latest-news p {
  display: none;
}
#latest-news .get-all {
  display: none;
}
.getpost-wrapper .post-date {
  color: #e2dbd3;
  font-style: italic;
}
#latest-news .getpost-title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#latest-news h2 {
  background: #0b1724 none repeat scroll 0 0;
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}
.carousel-pagerelement i {
  cursor: pointer;
  font-size: 40px;
  left: 40px;
  position: absolute;
  top: 50%;
}
.carousel-pagerelement i.icon-chevron-right {
  left: auto;
  right: 40px;
}
.woocommerce div.product .product_title{
	margin-bottom: 0px;
    margin-top: 0px;
	margin-left:10px;
}
#footer-contact {
  background: #0b1724 none repeat scroll 0 0;
  color: #e2dbd3;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
}
#footer-contact h1 {
  color: #c43818;
  font-size: 45px;
  margin: 30px 0 20px;
  text-transform: uppercase;
}
#fc-left .skivdiv-content {
  padding: 20px 50px;
}
#footer-contact a {
  color: #e2dbd3;
  display: block;
}
#footer-contact li {
  display: block;
  float: none;
  margin-bottom: 10px;
}
#footer-contact .socialbox i {
  display: none;
}
#footer-contact strong {
  color: #c43818;
  display: block;
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}
#footer-contact .three_fifth .skivdiv-content {
  padding: 0;
}
#footer-contact .three_fifth p {
  margin: 0;
}
#footer-contact .three_fifth iframe {
  display: block;
  width: 100%;
}
#footer-contact .three_fifth .skivdiv-content {
  border: 10px solid #222;
  padding: 0;
}
/* ----------------- Subpages -------------------- */
.subpage {
  background: #fff none repeat scroll 0 0;
}
.post-type-archive-product .woocommerce-pagination{
	display:none
}
/*.page-title {
  background: #0b1724 none repeat scroll 0 0;
  color: #fff;
  font-size: 50px;
  margin-top: 0;
  padding: 70px 20px;
  text-align: center;
}*/
#subpage-masthead {
  background-attachment: fixed;
}
.subpage #main-content {
  min-height: 230px;
}
.subpage #content #main-wrapper {
  color: #2d2929;
  padding: 0 10%;
}
/* ------------------- Woo ----------------------- */
#content .woocommerce-breadcrumb {
  background: #413b3b none repeat scroll 0 0;
  margin: 0;
  padding: 5px 10px;
  display:none;
}
/*.woocommerce #content div.product .product_title, .tax-product_cat .page-title {
  background: #fff none repeat scroll 0 0;
  clear: none;
  color: #555;
  font-size: 23px;
  font-weight: 800;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 10px 0;
  position: relative;
  right: 0;
  top: 0;
}*/
.tax-product_cat .page-title {
  position: relative;
}
#content #main-content .entry-summary {
  width: 52%;
}
#content .related.products {
  clear: both;
  padding-top: 20px;
}
li:empty {
  display: none;
}
.single-product #content .entry-summary li {
  list-style: outside none square;
}
#content #main-content .entry-summary {
  color: #2d2929;
  font-size: 16px;
  width: 52%;
}
#content #main-content .entry-summary div:nth-of-type(2) {
  margin-top: 0;
  padding-left: 10px;
  float:left;
  clear:both;
}
.single-product #content #main-content .woocommerce-main-image img {
  margin-top: 10px;
}
#single-meta-table {
  margin-bottom: 40px;
  width: 100%;
}
#single-meta-table td {
  background: #413b3b none repeat scroll 0 0;
  border: 2px solid #d4ccc3;
  color: #e2dbd3;
  font-size: 14px;
  font-weight: bold;
  padding: 11px;
  text-align: center;
  text-transform: uppercase;
}
#single-meta-table td:nth-child(1) {
  background: #5c5656 none repeat scroll 0 0;
  font-size: 11px;
  width: 130px;
}
#single-meta-table h3 {
  color: #fff;
  font-size: 23px;
  margin: 0;
  padding: 15px 0;
}
#single-meta-table tr:first-child td:nth-child(1) {
  background: #166444 none repeat scroll 0 0;
}
#single-meta-table tr:last-child td {
  background: #0b1724 none repeat scroll 0 0;
}
#single-meta-table tr:last-child td a {
  color: #fff;
  font-size: 1.3em;
  padding: 11px 20px;
}
#single-meta-table i {
  display: none;
}
#product-meta-list {
  padding-top: 15px;
  float:left;
  padding-left:0;
}
#product-meta-list h3 {
  margin-bottom: 5px;
}
#single-features {
  padding: 0 20px;
}
.single-product #content .product_meta {
  padding: 0px;
}
.single-product #content .product_meta > span {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 10px;
  float: left;
  margin-left:22px;
}
#single-features > h3 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom:10px;
}
.woocommerce-main-image {
  display: block;
  float: left;
  width: 100%;
}
.single-product-main-image .product-hot-buy::before {
  background: rgba(0, 0, 0, 0) url("img/thumbs_up.png") no-repeat scroll center top;
  content: "";
  height: 94px;
  float:right;
  bottom: 25px;
  position:absolute;
  margin-left:30px;
  width: 171px;
  margin-right:20%;
}
.product_cat-tonis-treasures .single-product-main-image .slick-slide::before {
  background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_single.png") no-repeat scroll center top;
  content: "";
  height: 94px;
  float:right;
  bottom: 25px;
  position:absolute;
  margin-left:30px;
  width: 171px;
  margin-right:20%;  
}
.archive.woocommerce #main-content .product .button, .related.products .button, .search #main-content .product .button{
  display: none;
}
.woocommerce #main-content ul.products li.product h3 {
  color: #444;
  display: none;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}
.woocommerce #main-content ul.products li.product a h3 {
  color: #444;
  display: block;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0.5em 0;
}
.woocommerce #main-content ul.products li.product a {
  color: #444;
}
.woocommerce #main-content ul.products li.product a:hover h3 {
  color: #c43818;
}
.single-product #content #main-content .thumbnails a {
  display: block;
  float: left;
  padding: 0 10px 0 0;
  width: 14%;
  margin-bottom: 0;
  margin-right: 0;
}
.single-product #content #main-content .thumbnails a.first {
	clear:none;
}
.single-product #main-content .thumbnails {
  float: left;
  padding-top: 0.35%;
  clear:both;
  width: 100%;
  margin-bottom:60px;
/*  background-color:#d4ccc3;*/
}
#main-content .products .product img {
  border: 0px solid #fff;
}
.related.products > h2 {
  background: rgba(11, 23, 36, 0.25) none repeat scroll 0 0;
  font-weight: normal;
  padding: 15px;
  text-align: center;
}
#inquire-button {
  background: #c43818 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float:left;
  clear:both;
  margin-left: 23px;
  padding: 10px 20px;
}
/* ----------------- Color Change --------------------- */
#single-meta-table td {
  background: #e2dbd3 none repeat scroll 0 0 !important;
  color: #2d2929 !important;
}
#single-meta-table h3, #single-meta-table tr:last-child td a {
  color: #c43818 !important;
}
/* ----------------- Gravity --------------------- */
#main-content .gfield_label {
  /*display: none;*/
}
#main-content .gfield input, #main-content .gfield textarea, #main-content .gfield select {
  background: #efefef none repeat scroll 0 0;
  border: 2px solid #cdcdcd;
  padding: 10px;
  width: 100%;
}
.gform_footer .button:empty {
  opacity: 1;
}
#main-content .gform_confirmation_message {
  border-bottom: 1px dashed #cdcdcd;
  border-top: 1px dashed #cdcdcd;
  padding: 20px 0;
  text-align: center;
}
#main-content .gform_ajax_spinner {
  display: none!important;
}
/* ----------------- Modal Form ------------------- */
#modalform {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:999;
}
#modaloverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background: rgba(0,0,0,0.6);
}
#modalform i {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: -30px;
  top: -20px;
}
#modalform .page-wrapper {
  background: #fff none repeat scroll 0 0;
  border: 4px solid #efefef;
  border-radius: 30px;
  bottom: 20px;
  left: 0;
  max-width: 560px;
  position: absolute;
  right: 0;
  top: 190px;
}
#modalform .gfield_label {
  display: none;
}
#modalform input, #modalform textarea {
  border: 2px solid #cdcdcd;
  border-radius: 3px;
  width: 100%;
}
#modalform li {
  margin: 0;
}
#modalform .gform_heading {
  margin-top: -13px;
  text-align: center;
}
.modalinner {
  bottom: 10px;
  left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px 0 0;
  position: absolute;
  right: 0;
  top: 30px;
}
/* ----------------- Horizontal Header ------------ */
#header {
  background: #f6f6f6 none repeat scroll 0 0;
  bottom: auto;
  left: 10px;
  overflow-y: visible;
  position: fixed;
  right: 10px;
  top: 0;
  width: auto;
  z-index: 999;
}
#logo {
  display: block;
  float: left;
  margin: 20px auto 10px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  z-index: 99;
}
#main-menu li {
  display: inline-block;
  list-style: outside none none;
  position: relative;
  top: -1.4vw;
  width: auto;
}
#header #main-menu .two-line {
  top: 0;
}
#main-menu li::before {
  display: none;
}
.search-toggle-box{
	display:none;
}
#main-menu {
  clear: both;
  height: auto;
  min-height: auto;
  padding: 0 30px;
  position: relative;
  width: 100%;
}
#header-contact .socialbox a {
  display: none;
}
#content {
  margin: 240px 10px 0;
}
#footer {
  margin: 10px;
}
.gform_wrapper.gf_browser_chrome input.button.gform_button_select_files{
	padding:0 !important;
	opacity:1 !important;
	color:#000 !important;
	width:300px !important;
}
.gform_wrapper.gf_browser_gecko input.button.gform_button_select_files{
	padding:0 !important;
	opacity:1 !important;
	color:#000 !important;
	width:300px !important;
}
.gform_wrapper.gf_browser_safari input.button.gform_button_select_files{
	padding:0 !important;
	opacity:1 !important;
	color:#000 !important;
	width:300px !important;
}
.gform_wrapper .gform_fileupload_multifile .gform_drop_area{
	color:#333 !important;
}
#main-menu li a {
  font-size: 1.3vw;
  line-height: 1.4vw;
  padding: 7px;
  text-align:left;
  text-transform:uppercase;
}
#header-contact > a#header-contact-button {
  /*padding: 10px 100px;*/
}
/*.justified::after, .dropdown.justified::after {
  display: none;
}*/
.featured-product {
  background: #0b1724 none repeat scroll 0 0;
  color: #fff;
  font-weight: 600;
  margin: 10px 0 0 10px;
  padding: 10px;
  text-align: center;
}
#content #main-content .product-hot-buy img {
  border: 5px solid red;
}
#content #main-content .product-hot-buy {
  position: relative;
}
.wpb_wrps_title a:before{background:none !important;}
.wpb_wrps_cart_btn a:before{background:none !important;}
.products .product-hot-buy a:before {
  	background: rgba(0, 0, 0, 0) url("img/hot-buy_small2.png") no-repeat scroll left top;
    content: "";
    height: 84px;
    left: 10px;
    position: absolute;
	bottom:7.5%;
    width: 72px;
}
.wrps_related_products .product-hot-buy a:before {
  	background: rgba(0, 0, 0, 0) url("img/hot-buy_small2.png") no-repeat scroll left top;
    content: "";
    height: 84px;
    left: 10px;
    position: absolute;
	bottom:0%;
    width: 72px;
}
#featured-products .product-hot-buy a:before {
  	background: rgba(0, 0, 0, 0) url("img/hot-buy_small2.png") no-repeat scroll left top;
    content: "";
    height: 84px;
    left: 10px;
    position: absolute;
	bottom:0%;
    width: 72px;
}
#featured-products .product_cat-tonis-treasures a:before {
  	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_fp.png") no-repeat scroll left top;
    content: "";
    height: 84px;
    left: 10px;
    position: absolute;
	bottom:0%;
    width: 72px;
}
.page-template-template_featured .product_cat-tonis-treasures a:before {
    background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_fp.png") no-repeat scroll left top;
    content: "";
    height: 120px;
    left: 10px;
    position: absolute;
  bottom:0%;
    width: 72px;
}
.subpage .products .product_cat-tonis-treasures a:before {
    background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_fp.png") no-repeat scroll left top;
    content: "";
    height: 120px;
    left: 10px;
    position: absolute;
  bottom:0%;
    width: 72px;
}
.woocommerce nav.woocommerce-pagination ul{font-size:30px;font-family: fantasy;}
.term-tonis-treasures .products a:before {
    background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_fp.png") no-repeat scroll left top;
    content: "";
    height: 142px;
    left: 10px;
    position: absolute;
  bottom:0%;
    width: 72px;
}
.wrps_related_products_area .product_cat-tonis-treasures a:before {
    background: rgba(0, 0, 0, 0) url("img/trt_tt_cart_fp.png") no-repeat scroll left top;
    content: "";
    height: 75px;
    left: 10px;
    position: absolute;
  bottom:0%;
    width: 72px;
}
#content #main-content #featured-products .product-hot-buy::after {
  background-size: 100% auto;
  bottom: -48px;
  left: 12px;
  top: auto;
  width: 120px;
}
.single-product #content #main-content .product-hot-buy img {
  border: 0 none;
}
.single-product #content #main-content .product-hot-buy::after {
  display: none;
}
.product_title {
  position: relative;
}
/*.single-product #content #main-content .product-hot-buy .product_title::after {
  background: rgba(0, 0, 0, 0) url("img/hot-buy.png") no-repeat scroll center top;
  content: "";
  height: 83px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 150px;
}*/
/*.single-product #content #main-content .product-hot-buy #single-short-desc::before {
  background: rgba(0, 0, 0, 0) url("img/hot-buy.png") no-repeat scroll center top;
  content: "";
  height: 83px;
  float:right;
  margin-top: 10px;
  width: 150px;
  margin-right:20%;
}*/
.single-product #content #main-content .product-hot-buy .product_title {
  padding-top: 10px;
}
#featured-products .appointment-only {
  display: none;
}
.search-mobile{
	display:none;
	}
.page-template-template_featured-php .ajax_add_to_cart {display: none !important;}
/* ----------------- Responsive ------------------- */

@media all and (min-width: 1025px) {

}
@media all and (max-width: 1800px) {
.NoImageText{
	height: 394px !important;
    float: left;
    font-size: 18px !important;
}
.LimitedSpecials {
    height: 500px;
    margin-top: 25px;
}
}
@media all and (max-width: 1700px) {
.NoImageText{
	height: 368px !important;
    float: left;
    font-size: 17px !important;
}
.LimitedSpecials {
    height: 470px;
    margin-top: 25px;
}
.icon-treasure{
	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart.png") no-repeat scroll center top;
	background-size: 120px 115px;
	padding-right: 120px !important;
padding-bottom: 55px !important;
    background-position: 140px 0;
}
}
@media all and (max-width: 1600px) {
.NoImageText{
	height: 341px !important;
    float: left;
    font-size: 16px !important;
}
.LimitedSpecials {
    height: 440px;
    margin-top: 25px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:15px !important;
}
.icon-treasure{
	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart.png") no-repeat scroll center top;
	background-size: 100px 94px;
	padding-right: 113px !important;
	padding-bottom: 35px !important;
    background-position: 130px 0;
}
}
@media all and (max-width: 1500px) {
/*#header {
  width: 300px;
}
#content, #footer {
  margin-left: 310px;
}
#main-menu li.menu-ctas a {
  font-size: 18px;
  padding: 10px;
}
#main-menu li.menu-ctas a .sub {
  font-size: 15px;
  padding-top: 0;
}
#main-menu li.mcta-liquidator {
  bottom: 69px;
}
#main-menu {
  min-height: 590px;
  padding-top: 100px;
}
#main-menu li a {
  padding: 3% 20px 3% 70px;
}
#main-menu li::before {
  font-size: 20px;
  left: 40px;
  top: 10px;
}*/
#buy-sell li::before {
  left: -18px;
}
.NoImageText{
	height: 311px !important;
    float: left;
}
.LimitedSpecials {
    height: 400px;
    margin-top: 25px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:13px !important;
}
#buy-sell ul {
  padding: 0 0 0 2px;
}
.products .product-hot-buy a:before {
	bottom:15%;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
#content {
    margin: 215px 10px 0;
}
.search-toggle-box{
	display:none;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:12px;
}
.search-mobile{
	display:none;
	}
#buy-sell h1 {
  font-size: 30px;
  margin-left: 0;
}
#buy-sell .button {
  margin-left: 0;
}
#warehouse-map h3 {
  font-size: 18px;
}
#main-slideshow h1 {
  font-size: 30px;
  margin-bottom: 0;
}
#main-slideshow .page-wrapper {
  font-size: 20px;
}
#product-showcase h1 {
  font-size: 30px;
} 
}
@media all and (max-width: 1400px) {
	.NoImageText{
	height: 282px !important;
    float: left;
}
#featured-products h4 {
	font-size:12px;
}
.LimitedSpecials {
    height: 375px;
    margin-top: 25px;
}
.icon-treasure{
	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart.png") no-repeat scroll center top;
	background-size: 100px 94px;
	padding-right: 100px !important;
	padding-bottom: 44px !important;
    background-position: 118px 0;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:11px !important;
}
}
@media all and (max-width: 1300px) {
.carousel-pagerelement i {
  font-size: 30px;
  left: 10px;
}
#featured-products h4 {
	font-size:12px;
}
.icon-treasure{
	background: rgba(0, 0, 0, 0) url("img/trt_tt_cart.png") no-repeat scroll center top;
	background-size: 90px 84px;
	padding-right: 100px !important;
	padding-bottom: 35px !important;
    background-position: 108px 0;
}
.NoImageText{
	height: 287px !important;
    float: left;
}
.limitedSpecials {
/*    height: 375px;
    margin-top: 15px;*/
	padding: 20px 40px !important;
}
.carousel-pagerelement i.icon-chevron-right {
  right: 10px;
}
.search-mobile{
	display:none;
	}
.search-toggle-box{
	display:none;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
#content {
    margin: 205px 10px 0;
}
/*#featured-products {
  padding: 20px 68px;
}*/
#featured-products .cycle-slide h3 {
  font-size: 14px;
  padding: 6px;
}
#featured-products .cycle-slide {
  border: 3px solid #2d2929;
}
#footer-contact h1 {
  font-size: 25px;
}
#footer-contact {
  font-size: 17px;
}
#main-slideshow {
  height: 440px;
} 
/*#main-menu li a {
  font-size: 16px;
  padding: 3% 20px 3% 70px;
}
#header {
  width: 280px;
}
#logo {
  padding: 0 10px;
}
#main-menu {
  min-height: 520px;
  padding-top: 80px;
}
#content, #footer {
  margin-left: 290px;
}*/
#buy-sell li::before {
  display: none;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:11px;
}
#buy-sell .one_half .skivdiv-content {
  border: 0 none;
  margin: 0;
  padding: 10px 10px 0px 10px;
}
#buy-sell li {
/*  list-style: outside none square;*/
	list-style:none;
}
#buy-sell .one_half::before {
  width: 100%;
}
#warehouse-img {
  margin: 50px auto -100px;
}  
}
@media all and (max-width: 1024px) {
	.two_third, .three_fourth, .five_sixth, .two_fifth, .three_fifth, .four_fifth {margin:0 auto;float:none;clear: both;width:100%;}
	.products .product-hot-buy a:before {
	bottom:17%;
}
#featured-products h4 {
	font-size:11px;
}
.NoImageText{
	height: 218px !important;
    float: left;
}
.LimitedSpecials {
    height: 320px;
    margin-top: 15px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:10.5px !important;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:10px;
}
}

@media all and (min-width: 1071px)  {#mobile-nav,#mobile-toggle {display:none !important;}}
@media all and (max-width: 1070px)  {
	#main-menu {display: none;}
	#mobile-nav,#mobile-toggle {display: block;}
	.fullwidth .one_fourth:nth-child(3), .fullwidth .one_fifth:nth-child(4), .fullwidth .one_sixth:nth-child(4) {clear: left;}
	.one_half, .one_third.last {margin:0 auto;float:none;clear: both;}
	.one_half {width:100%;}
	.one_third, .one_fourth {width:50%;}
	.one_fifth, .one_sixth {width:33.33%;}
	#content #main-content .entry-summary{    font-size: 14px;
    line-height: 18px;}
	.single-product #content .product_meta > span{display:none;}
	.subpage #main-content{padding-top:50px;}
	#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.icon-treasure{
	background-position: 45px 0 !important;
	padding-right:0px !important;
}
#featured-products h4 {
	font-size:12px;
}
.NoImageText{
	height: 229px !important;
    float: left;
}
.LimitedSpecials {
    height: 340px;
    margin-top: 15px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:9px !important;
}


/* -------------- Mobile Header --------------*/
#header {
  background: #e2dbd3 none repeat scroll 0 0;
  height: 70px;
  left: 0;
  overflow: visible;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 999;
}
.cartoon{
	display:none;
}
.search-form{
	display:none;
}
#content .woocommerce-breadcrumb{
	margin-top:45px;
}
#featured-products .cycle-slide a h2 {
  font-size: 10px;
}

.search-mobile{
	display:block;
	width:100%;
	background: rgba(226, 219, 211, .8);
	}
.search-mobile .search-form{
	display:block;
	}
.search-mobile .search-form label{
	width:82%;
	}
.search-mobile .search-form input[type="search"]{
	width:90%;
	margin-left:15%
	}
#header .page-wrapper {
  padding: 0;
  width: 100%;
}
#logo {
  display: block;
  float: none;
  height: 70px;
  margin: 0 auto;
  max-width: 40%;
  min-width: 150px;
  padding-top: 1.5%;
  position: relative;
  text-align: center;
  z-index: 99;
}
#logo img {
  height: auto;
  width: auto;
}
#header-contact .socialbox_email {
  display: none;
}
#header-contact {
  left: 0;
  overflow: hidden;
  right: auto;
}
#header-contact a {
  display: block;
  height: 70px;
  position: relative;
  text-align: left;
  width:80px;
  text-indent: -9999px;
}
#header-contact i {
  background: transparent none repeat scroll 0 0;
  display: block;
  font-size: 30px;
  left: 0;
  padding-top: 22px;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 77px;
}
#header-contact a::before {
  display: none;
}
#header-contact #header-contact-button {
  display: none;
}
#header-contact .socialbox a {
  display:block;
}
#wpadminbar {
  position: fixed;
  top: 0;
}
#content {
  margin: 70px 0 0;
}
#footer {
  margin: 0 !important;
}
#mobile-nav {
  padding-top: 120px;
}
.admin-bar #header {
  top: 46px;
}
#buy-sell .one_half {
  clear: none;
  float: left;
  width: 50%;
}
}
@media all and (max-width: 950px)  {
#content #main-content .products .product {
  clear: none !important;
  float: left;
  margin: 0;
  padding: 10px;
  width: 33.3%;
}
#featured-products h4 {
	font-size:9px;
}
.NoImageText{
	height: 168px !important;
    float: left;
	font-size:9px !important;
}
.LimitedSpecials {
    height: 300px;
    margin-top: 15px;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:7px !important;
}
}
@media all and (max-width: 768px)  {
#single-short-desc {
  clear: both;
}
.NoImageText{
	height: 158px !important;
    float: left;
	font-size:9px !important;
}
.LimitedSpecials {
    height: 300px;
    margin-top: 15px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:7px !important;
}
#featured-products .cycle-slide a h2{
	font-size:10px !important;
}
.woocommerce #content div.product .product_title, .tax-product_cat .page-title {
  clear: both;
  float: none;
  padding-left: 35px;
  padding-top: 20px;
  position: relative;
  width: 100%;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:9px;
}
.search-form{
	display:none;
}
#content #main-content .entry-summary {
  width: 100%;
}
#main-content .images {
  margin-top: -20px;
}
.single-product #main-content .thumbnails {
  float: left;
  margin-top: 0;
  padding-top: 0;
  width: 20%;
  display:none;
}
}
@media all and (max-width: 720px)  {
	.fullwidth .one_fifth:nth-child(4) {clear:none;}
	.fullwidth .one_fifth:nth-child(3) {clear: left;}
	.one_third, .one_fifth.last {float: none;clear: both;margin:0 auto;}
	.one_third {width:100%;}
	.one_fifth {width:50%}
  #buy-sell ul {
  display: block;
  text-align:center;
  font-size:11px;
}
#featured-products h4 {
    font-size: 7px;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.NoImageText{
	height: 130px !important;
    float: left;
	font-size:9px !important;
}
.LimitedSpecials {
    height: 220px;
    margin-top: 15px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:5px !important;
}
#featured-products .cycle-slide a h2{
	font-size:9px !important;
}
#featured-products .cycle-slide a h2 {
  font-size: 11px;
}
	.slideNext{margin-top:25%;}
	.slidePrev{margin-top:25%;}
.search-form{
	display:none;
}
.emailFooter{
	margin-left: 40%;
}
.liquidateFooter{
	margin-left: 32%;
}
#buy-sell h1 {
  font-size: 12px;
  margin: 0 0 80px;
  text-align: center;
}
#footer-contact {
  text-align: center;
}
#buy-sell .button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  line-height: 16px;
  margin: 0;
  padding-top: 60px;
  position: absolute;
  right: 0;
  top: 0;
}
}

@media all and (max-width: 600px)  {
	.fullwidth .one_fifth:nth-child(3) {clear:none;}
	.fullwidth .one_fifth:nth-child(3) {clear: left;}
	.one_fourth {float: none;clear: both;margin:0 auto;}
	.one_fourth {width:100%;}
	.one_sixth {width:50%;}
	.fullwidth .one_sixth:nth-child(2n+1) {clear: left;}

/* -------------- Mobile Header --------------*/
#header {
  height: 50px;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
	.slideNext{margin-top:40%;}
	.slidePrev{margin-top:40%;}
#header .page-wrapper {
  padding: 0;
}
.add_liq{
    clear: both;
	width:100% !important;
}
.add_floor{
    clear: both;
	width:100% !important;
}
.emailFooter{
	margin-left: 37%;
}
.NoImageText{
	height: 104px !important;
    float: left;
	font-size:9px !important;
}
.LimitedSpecials {
    height: 220px;
    margin-top: 15px;
}
.limitedSpecials .cycle-slide .PostText{
	font-size:10px !important;
	height:155px !important;
	padding:5px !important;
}
#featured-products .cycle-slide a h2{
	font-size:10px !important;
}
.search-form{
	display:none;
}
	.search-mobile .search-form input[type="search"]{
	margin-left:10%;	}
#logo {
  height: 50px;
  max-width: 57%;
  padding-top: 1.5%;
  text-align: center;
}
#header-contact a {
  height: 50px;
  width: 50px;
  padding-left:50px;
}
#header-contact i {
  font-size: 20px;
  padding-top: 16px;
  top: 0;
  width: 50px;
}
#content {
  margin-top: 50px;
}
#mobile-toggle {
  width: 50px;
  font-size: 22px;
}
#header-contact {
  width: 50px;
}
.mobile-expand #content, .mobile-expand #footer {
  right: 300px;
}
#mobile-nav {
  padding-top: 115px;
  right: -300px;
  width: 300px;
}
#featured-products {
  display: none;
}
.limitedSpecials {
  display: block !important;
}
.limitedSpecials .cycle-slide{padding:2px !important;}
.limitedSpecials .cycle-slide a h2{margin:-52px 2px 0px 2px !important; padding: 5px !important;}
.limitedSpecials h1{font-size:15px !important; padding-bottom: 10px !important;}
#main-slideshow .button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
  display: block;
  float: none;
  margin-top: 10px;
}
#main-slideshow .page-wrapper {
  text-align: center;
}
#product-showcase h1 {
  background: #222 none repeat scroll 0 0;
  font-size: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
}
#product-showcase .button {
  bottom: 0;
  font-size: 14px;
  left: 0;
  position: relative;
  right: 0;
  width: 100%;
}
#warehouse-map h1 {
  font-size: 30px;
}
#warehouse-img {
  margin: 50px auto -40px;
}
#latest-news .getpost-title {
  font-size: 17px;
}
#buy-sell .one_half .skivdiv-content {
  padding: 10px;
}
.page-wrapper {
  width: 100%;
  padding: 10px;
}
#about img {
  display: none;
}
#main-slideshow .page-wrapper {
  padding: 10px;
}
#main-slideshow .button-text {
  font-size: 14px;
  padding: 12px;
}
#content #main-content .products .product {
  width: 50%;
}
}
@media all and (max-width: 500px)  {
#logo {
  max-width: 69%;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.emailFooter{
	margin-left: 34%;
}
#warehouse-map{
	display:none;
}
.liquidateFooter{
	margin-left: 19%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*="columns-"] ul.products li.product, .woocommerce[class*="columns-"] ul.products li.product {
  float: none;
  width: 100%;
} 
.limitedSpecials .cycle-slide{padding:2px !important;}
.limitedSpecials .cycle-slide a h2{margin:-52px 2px 0px 2px !important; padding: 5px !important;}
.limitedSpecials h1{font-size:15px !important; padding-bottom: 10px !important;}

	.search-mobile .search-form input[type="search"]{
	margin-left:7.6%;	}
.subpage #content .products {
  padding: 0 10px;
} 
.wpis-slider-for .slick-prev, .wpis-slider-for .slick-next {
    display: block!important;

	.slideNext{margin-top:40%;}
	.slidePrev{margin-top:40%;}
}
@media all and (max-width: 360px) {
	.one_fifth, .one_sixth {float: none;clear: both;margin:0 auto;}
	.one_fifth, .one_sixth {width:100%;}
	.slideNext{margin-top:40%;}
	.slidePrev{margin-top:40%;}
	.search-mobile .search-form input[type="search"]{
	margin-left:5%;	}
	.emailFooter{
	margin-left: 25%;}
.liquidateFooter{
	margin-left: 3%;
}
.limitedSpecials .cycle-slide{padding:2px !important;}
.limitedSpecials .cycle-slide a h2{margin:-52px 2px 0px 2px !important; padding: 5px !important;}
.limitedSpecials h1{font-size:15px !important; padding-bottom: 10px !important;}
#warehouse-map{
	display:none;
}
#featured-products .product-hot-buy a:before {
	bottom:0%;
}
.products .product-hot-buy a:before {
	bottom:30%;
}
}