/* 17Feb14 */
/* Login Logo */
.login #login > h1 a {
	/*background-image:url('logo-login.svg');*/
	background-size:contain;
	width:auto;
}
/* Dashboard logo */
/*#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
	background: url('logo-adminbar.svg') no-repeat scroll center center / 20px 20px transparent !important;
	width:30px !important;
}
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
	content:'';
}*/

/* Widget - Bucket */
.widget .widget-inside .bucket-widget-form .bucket-widget-control {
	padding: 20px 0; text-align: center; border: 1px dashed #aaa;
}
.widget .widget-inside .bucket-widget-form .bucket-widget-control.has-image {
	padding: 10px;
	text-align: left;
	border: 1px dashed #aaa;
}
.widget .widget-inside .bucket-widget-form .bucket-widget-control img {
	display: block;
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}

/* Settings */
#admin-settings-warning-box {
	background: #F00;
	border-radius: 5px;color: #FFF;
	font-size: 13px;
	font-weight: bold;
	margin: 10px auto 0;
	padding: 7px;
	text-align: center;
	width: 710px;
}
/* Post Status */
.status-publish {}
.status-publish.alternate, .status-publish.alt {}
.status-draft {}
.status-draft.alternate, .status-draft.alt {}
.status-pending {}
.status-pending.alternate, .status-pending.alt {}
.status-private {}
.status-private.alternate, .status-private.alt {}
.post-password-required {}
.post-password-required.alternate, .post-password-required.alt {}